/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* Estilos globais */
body {
  font-family: 'Arial', sans-serif;
}

/* Outros estilos globais aqui */
main{
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 40px;
}
@media only screen and (min-width: 640px) and (max-width: 959px) {
  main{
    padding: 0 30px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 639px) {
  main{
    padding: 0 15px;
  }
}